<p id="notice"><%= notice %></p>

<p>
  <strong>Responsable:</strong>
  <%= @device.responsable %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @device.departamento %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @device.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @device.modelo %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @device.serie %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @device.factura %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @device.proveedor %>
</p>

<p>
  <strong>Mac address:</strong>
  <%= @device.mac_address %>
</p>

<p>
  <strong>Procesador:</strong>
  <%= @device.procesador %>
</p>

<p>
  <strong>Memoria:</strong>
  <%= @device.memoria %>
</p>

<p>
  <strong>Dd:</strong>
  <%= @device.DD %>
</p>

<p>
  <strong>Sistemaoperativo:</strong>
  <%= @device.SistemaOperativo %>
</p>

<p>
  <strong>Factura so:</strong>
  <%= @device.factura_SO %>
</p>

<p>
  <strong>Licencia so:</strong>
  <%= @device.Licencia_SO %>
</p>

<p>
  <strong>Office:</strong>
  <%= @device.Office %>
</p>

<p>
  <strong>Licencia office:</strong>
  <%= @device.Licencia_Office %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
